@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.hero-container {
  /* background: linear-gradient(#3b1e59, #9f89a8); */
  height: 100vh;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: url("../images/agency/agency--hero.jpg") center/cover;
  height: 60%;
  color: #27034d;
}
.hero-container .texts {
  width: 90%;
  padding-left: 2rem;
}
.hero-container .texts h2 {
  color: #2f0d53;
}

@media (min-width: 769px) {
  .hero-container {
    height: 55vh;
  }
  .hero-container .circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: green;
    margin-left: 10%;
  }
  .about-digital {
    /* display: flex; */
    position: relative;
  }
  .about-digital p {
    position: absolute;
    width: 50%;
    color: #2f0d53;
  }
  .about-digital .left {
    margin-top: -10%;
    width: 50%;
    background-color: white;
    box-shadow: 5px 5px #888888;
  }
  .about-digital .right {
    margin-left: 50%;
    padding-bottom: 10%;
    width: 50%;
    /* box-shadow: 5px 5px #888888; */
  }
  .about-digital-text {
    margin-top: 5%;
  }
  .about-digital .images {
    display: none;
  }
  .image-container-for-wide-screen {
    margin-top: 10%;
    width: fit-content;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .wide-image {
    position: relative;
  }
  .image-container-for-wide-screen img {
    width: 55%;
  }
  .image-container-for-wide-screen .image-vertical {
    transform: rotate(90deg);
  }
  .about-digital-text-small-screen {
    display: none;
  }

  /* Vertical Container  */
  .verticals-container-mobile {
    display: none;
  }
  .verticals-container-ipad {
    margin-top: 10%;
    display: flex;
    height: 60vh;
  }
  .verticals-container-ipad .container-1 {
    width: 100vw;
    margin-left: 10%;
    padding-top: 28%;
    position: relative;
  }
  .verticals-container-ipad .container-1 p {
    padding-top: 10%;
    width: 50%;
    color: #27034d;
    position: absolute;
  }
  .verticals-container-ipad .container-1 h1 {
    color: #27034d;
  }

  .verticals-container-ipad .container-1 i {
    color: #00e06d;
  }
  .container-1 .recent-accolades {
    margin-top: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }

  .container-1 .recent-accolades .square-box {
    width: 5rem;
    height: 5rem;
    border: 3px solid green;
  }
  .container-1 .recent-accolades div {
    margin-right: 30%;
  }

  .verticals-container-ipad .container-2 {
    width: 100vw;
    padding-left: 5%;
    background-color: #27034d;
    padding-top: 10%;
  }
  .verticals-container-ipad .container-2 h1 {
    color: white;
  }
  .verticals-container-ipad .container-2 p {
    padding-top: 5%;
    width: 100%;
    color: #00e06d;
  }
  .container-2 .verticals-bottom-text {
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 15%;
  }
  .container-2 .verticals-bottom-text li {
    list-style: none;
    padding-bottom: 14px;
  }
  /* Disabling things in wide screen */
  .at-our-agency {
    display: none;
  }
  .partnership {
    display: none;
  }
  .partnership-tablet {
    padding-top: 10%;
    text-align: center;
    height: 40vh;
    width: 100%;
    background-color: #27034d;
  }
  .partnership-tablet h1 {
    color: white;
  }

  .partnership-tablet input[type="text"] {
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 3px solid #01e471;
    color: white;
    margin-left: 5%;
    margin-bottom: 8%;
    background-color: #27034d;
  }
  .partnership-tablet small {
    color: white;
  }

  .partnership-tablet button {
    width: 25%;
    height: 50px;
    background-color: #2f0d53;
    color: white;
    border: 1px solid #0e8f61;
  }
  .tabletFooter {
    background-color: #27034d;
    color: white;
    height: 2vh;
    text-align: center;
  }
  .tabletFooter i {
    margin-left: 15px;
  }
  .tabletFooter a {
    color: white;
  }
}

/* Mobile Friendly */
@media (max-width: 768px) {
  .image-container-for-wide-screen {
    display: none;
  }
  .verticals-container-ipad {
    display: none;
  }
  .partnership-tablet {
    display: none;
  }
  .hero-container .texts {
    width: 90%;
    padding-left: 2rem;
  }
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: green;
    margin-left: 70%;
  }
  .about-digital {
    padding-left: 1rem;
    color: #2f0d53;
    width: 100%;
    margin-top: 15%;
  }
  .about-digital .images {
    padding-top: 50%;
    background: url("../images/agency/brand.jpg") center/cover;
    width: 60%;
    height: 30vh;
    margin-left: 20%;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  .about-digital .brand {
    transform: rotate(-90deg);
    position: absolute;
    /* margin-top: -90px; */
    margin-top: -30%;
    margin-left: -9%;
  }
  .about-digital .about-digital-text {
    width: 40%;
    margin-left: 30%;
    font-size: 0.8rem;
  }
  .about-digital .pointer {
    margin-left: 35%;
  }

  /* Verticals */
  .verticals-container-mobile {
    background-color: #27034d;
  }
  .verticals-top-text {
    width: 90%;
    margin: auto;
  }
  .verticals-bottom-text {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .verticals-top-text p {
    padding-top: 2rem;
    color: #0e8f61;
  }
  .verticals-bottom-text {
    list-style: none;
    color: white;
    font-size: 0.8rem;
    line-height: 2rem;
  }
  .verticals-graph {
    width: 100%;
    background-color: red;
    height: 10%;
    height: 40vh;
    display: flex;
  }
  .verticals-graphs {
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .at-our-agency-heading {
    color: #27034d;
    padding-left: 2%;
  }
  .at-our-agency-views {
    padding-top: 10%;
    width: 50%;
    color: #0e8f61;
    margin: auto;
  }
  #fire {
    position: absolute;
    margin-top: -45%;
    margin-left: 4%;
  }
  .at-our-agency-accoldaes {
    width: 100%;
    height: 40vh;
  }
  .at-our-agency-square-shape {
    border-style: solid;
    border-width: 0.2rem;
    width: 70px;
    height: 70px;
    border-color: #00e06d;
    margin-top: 2rem;
  }
  .at-our-agency-accoldaes h2 {
    color: #2f0d53;
    letter-spacing: 0.1rem;
  }
  .shapes-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .at-our-agency-square-shape img {
    width: 100%;
    margin-left: 30%;
  }
  .partnership {
    padding-top: 10%;
    width: 100%;
    height: 85vh;
    background-color: #27034d;
    text-align: center;
    color: white;
  }
  .partnership .input-fields {
    padding-top: 5%;
  }
  .partnership small {
    font-size: 0.8rem;
  }
  .partnership input[type="text"] {
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 3px solid #01e471;
    color: white;
    margin-left: 5%;
    margin-bottom: 8%;
    background-color: #27034d;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    color: white;
  }
  .partnership .button {
    margin-top: 10%;
    width: 50%;
    margin-left: 22%;
    padding: 3% 5% 3% 5%;
    background-color: #27034d;
    border: 4px solid #0e8f61;
  }
  .thin-line {
    width: 80%;
    /* padding-top: 2rem; */
    width: 80%;

    margin-top: 4rem;
    margin-left: 10%;
    border: 0.001px solid green;
  }
  .partnership .social-media {
    display: flex;

    justify-content: center;
  }
  .partnership .social-media a {
    padding-right: 4%;
    padding-top: 14%;
    color: #3e3154;
  }
}
